body {
  background-image: url('USSRFLAG!.png');
  background-size: cover;

  image-rendering: -webkit-optimize-contrast;

  
  background-position: center;
  background-repeat: no-repeat;

  background-attachment: fixed;

  min-height: 100vh;
  margin: 0;
}
